footer {
    border: 3px solid green;
    margin: 10px;
  }
  
  .content-footer {
    text-align: center;
    margin: 20px 0;
  }
  
  .content-footer p {
    padding: 20px;
  }
  
  .link-footer {
    display: flex;
    justify-content: center;
  }
  
  .link-footer li {
    padding: 60px;
  }