.content-footer {
  text-align: center;
  background-color: $dark-blue;
  padding: 10px 0;

 

  ul {
    display: flex;
    justify-content: center;
  }

  i {
    font-size: 30px;
  }

  p {
    color: $white;
    
  }

}
