.contact {
  padding-bottom: 20px;
  padding-top: 100px;
}

form {
  text-align: center;

  h2 {
    font-size: 2.5em;
  }
}

.input {
  margin-top: 15px;
  }

.email,
.message {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;

  label {
    text-align: left;
    display: inline-block;
    font-size: 1.3em;
    margin: 5px 0;
  }

  input,
  textarea {
    font-size: 1.1rem;
    padding: 10px;
    border: 2px solid $light-blue;
    background-color: $light-yellow;
  }
}

.message {
  label {
    margin-top: 15px;
  }
}

.submit {
  margin: 10px;
  border: none;
  width: 20px;
  margin: 0 auto;

  input {
    background-color: $dark-blue;
    border: 2px solid $light-blue;
    color: $light-blue;
    border-radius: 25px;
    padding: 7px 20px;
    font-size: 1.5em;
  }
}

.submit:hover input {
  background-color: $light-blue;
  color:$dark-blue;
}


.gradient-bt {
  width: 100%;
  height: 250px;
    background-image: url(images/wave.png);
    background-size: 100% 180px;
    background-position: center top;
    background-repeat: no-repeat;
}
