@media (max-width: 1150px) {
  .descript {
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  h1 {
    font-size: 1.7em;
  }

  .navbar {
    h2 {
      visibility: hidden;
    }
  }
}

@media (max-width: 950px) {
  .navbar {
    height: 60px;
  }

  .cont-description {
    flex-direction: column;

    .descript {
      width: 100%;
    }

    .img-descript {
      width: 60%;
      height: 20%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.4em;
  }

  li a {
    font-size: 1em;
  }

  .icon img {
    width: 70px;
    height: 70px;
  }

  .card img {
    width: 250px;
  }

  .submit {
    input {
      font-size: 1em;
    }
  }
}


@media (max-width: 650px) {
  h1 {
    font-size: 1.1em;
  }
}