.navbar {
  width: 100%;
  background-color: $dark-green;
  color: $white;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  box-shadow: 3px 4px 5px 1px $black;

  .nav-logo {
    width: 50%;
    display: flex;
    align-items: center;

    a {
      margin-left: 2%;
    }

    img {
      width: 75px;
      height: 75px;
    }

    h2 {
      font-size: 2em;
      span {
        font-size: 1.7rem;
      }
    }
  }

  .nav-menu {
    width: 50%;
    text-align: right;
    padding-right: 3%;
    margin: auto 0;

    ul {
      display: flex;
      justify-content: end;
    }
  }
}
