*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
}

/*----------------------------------------------*/


li {
  margin: 15px;
  padding: 5px 10px;
  list-style: none;
}

li:hover {
  background-color: $light-green;
  border-radius: 25px;

  a {
    color: $dark-green;
  }
}

li a {
  text-decoration: none;
  color: $white;
  font-size: 1.2em;
}

/*------------------------------------------------*/

.wave {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: -1;

  img {
    width: 100%;
    opacity: 0.4;
  }
}

.wave-bt {
  position: absolute;
  top: -30%;
  width: 100%;
  z-index: -1;
 
  
  img {
    width: 100%;
    opacity: 0.5;
  }
 
}