*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header {
  border: 2px solid;
  height: 100%;
  background-image: url("images/background_header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  left: 42%;
  top: 10%;
}

.logo img {
  width: 200px;
  height: 200px;
}

.title {
  margin: 10px auto;
  padding-top: 10px;
  text-align: center;
  font-size: 2em;
  color: #EDEAE5;
  position: absolute;
  left: 25%;
  top: 30%;
}

main {
  border: 3px solid green;
  margin: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.navbar img {
  margin: 5px 10px;
}

.menu-navbar {
  position: absolute;
  right: 30px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  padding: 5px 10px;
  list-style: none;
}

a {
  text-decoration: none;
}

.cont-description {
  border: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 10px;
  padding: 20px;
}

.descript {
  width: 50%;
}

.descript p {
  padding: 20px;
}

.img-descript {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cont-skills {
  border: 2px solid;
  margin: 30px 10px;
  padding: 20px;
}

.cont-skills h2 {
  text-align: center;
  padding: 20px;
}

.cont-skills div {
  border: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skillset {
  padding: 20px 10%;
}

.values {
  padding: 20px 20%;
}

.projects {
  border: 2px solid;
  margin: 30px 10px;
  padding: 20px;
}

.projects h2 {
  text-align: center;
  padding: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cards .card-cont {
  border: 2px solid;
  width: 80%;
  margin: 20px;
}

.card-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-cont img {
  width: 20%;
  margin: auto 40px;
}

.card-cont div {
  width: 80%;
  text-align: center;
  padding: 20px 0;
}

.contact {
  border: 2px solid;
  margin: 30px 10px;
  padding: 20px;
}

form {
  text-align: center;
}

footer {
  border: 3px solid green;
  margin: 10px;
}

.content-footer {
  text-align: center;
  margin: 20px 0;
}

.content-footer p {
  padding: 20px;
}

.link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-footer li {
  padding: 60px;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.scss.map */
