@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif, serif;
  scroll-behavior: smooth;
}

body {
  background-color: #edeae5;
}

/*----------------------------------------------*/
li {
  margin: 15px;
  padding: 5px 10px;
  list-style: none;
}

li:hover {
  background-color: #9fedd7;
  border-radius: 25px;
}
li:hover a {
  color: #026670;
}

li a {
  text-decoration: none;
  color: #edeae5;
  font-size: 1.2em;
}

/*------------------------------------------------*/
.wave {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: -1;
}
.wave img {
  width: 100%;
  opacity: 0.4;
}

.wave-bt {
  position: absolute;
  top: -30%;
  width: 100%;
  z-index: -1;
}
.wave-bt img {
  width: 100%;
  opacity: 0.5;
}

header {
  min-width: 100%;
  padding-top: 5%;
  height: 90%;
  background-image: url("images/background_header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.logo {
  text-align: center;
}

.logo img {
  width: 250px;
  height: 250px;
}

.title {
  text-align: center;
  font-size: 1.8em;
  color: #edeae5;
}

/*---------------ANIMATION BUBBLE--------------------------*/
.bubbles img,
.bubbles h2 {
  width: 55px;
  text-align: center;
  color: #edeae5;
  opacity: 0.7;
  z-index: -1;
}

.b2 img,
.b2 h2,
.b3 img,
.b3 h2 {
  width: 65px;
  text-align: center;
}

.b5 img,
.b5 h2 {
  width: 70px;
  text-align: center;
}

.b7 img,
.b7 h2 {
  width: 60px;
  text-align: center;
}

.bubble-content {
  animation: bubble 4s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -80px;
}

.bubble-content h2 {
  position: absolute;
  bottom: 20px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.b1 {
  animation-delay: 1s;
}

.b3,
.b7 {
  animation-delay: 3s;
}

.b4 {
  animation-delay: 5s;
}

.b5 {
  animation-delay: 2s;
}

.b6 {
  animation-delay: 4s;
}

.navbar {
  width: 100%;
  background-color: #026670;
  color: #edeae5;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  box-shadow: 3px 4px 5px 1px #172223;
}
.navbar .nav-logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.navbar .nav-logo a {
  margin-left: 2%;
}
.navbar .nav-logo img {
  width: 75px;
  height: 75px;
}
.navbar .nav-logo h2 {
  font-size: 2em;
}
.navbar .nav-logo h2 span {
  font-size: 1.7rem;
}
.navbar .nav-menu {
  width: 50%;
  text-align: right;
  padding-right: 3%;
  margin: auto 0;
}
.navbar .nav-menu ul {
  display: flex;
  justify-content: end;
}

.cont-description {
  display: flex;
  padding-top: 45px;
  position: relative;
}

.descript {
  width: 60%;
  padding: 50px;
  padding-bottom: 0;
}
.descript h2 {
  text-align: center;
  font-size: 2.5em;
}
.descript p {
  padding-top: 50px;
  font-size: 1.5em;
}
.descript p a {
  text-decoration: none;
  color: blue;
}

.img-descript {
  width: 50%;
}
.img-descript img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.skills h2 {
  text-align: center;
  padding-top: 130px;
  font-size: 2.5em;
}

/*---------------ANIMATION ICONS TOP--------------------------*/
.cont-skills {
  width: 100%;
  height: 100%;
  margin: 95px auto;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  position: relative;
}
.cont-skills img {
  width: 100px;
  height: 100px;
}
.cont-skills h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 1em;
  opacity: 0;
}

.icon {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: 0.7s;
}

.html,
.html-txt {
  left: 20%;
  margin-left: -50px;
}

.query,
.query-txt {
  left: 35%;
  margin-left: -50px;
}

.bootstrap,
.bootstrap-txt {
  right: 50%;
  margin-right: -50px;
}

.css,
.css-txt {
  right: 35%;
  margin-right: -50px;
}

.js,
.js-txt {
  right: 20%;
  margin-right: -50px;
}

.cont-skills:hover .box {
  transition: 1.2s;
}

.cont-skills:hover .html,
.cont-skills:hover .query,
.cont-skills:hover .bootstrap,
.cont-skills:hover .css,
.cont-skills:hover .js {
  transform: translateY(-100%);
}

.cont-skills:hover h3 {
  opacity: 1;
  font-size: 1.3em;
  color: #026670;
}

/*---------------ANIMATION ICONS BTN--------------------------*/
.cont-bt {
  width: 100%;
  height: 100%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  position: relative;
}
.cont-bt img {
  width: 100px;
  height: 100px;
}
.cont-bt h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 1em;
  opacity: 0;
}

.node,
.node-txt {
  left: 30%;
  margin-left: -50px;
}

.git,
.git-txt {
  left: 50%;
  margin-left: -50px;
}

.react,
.react-txt {
  right: 30%;
  margin-right: -50px;
}

.cont-bt h3 {
  padding-top: 25px;
}

.cont-bt:hover .node,
.cont-bt:hover .git,
.cont-bt:hover .react {
  transform: translateY(100%);
}

.cont-bt:hover h3 {
  opacity: 1;
  font-size: 1.3em;
  color: #026670;
}

.projects {
  margin: 250px 10px 130px 10px;
  padding-top: 90px;
}
.projects h2 {
  text-align: center;
  padding: 20px;
  font-size: 2.5em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 60px 30px;
}

.cover {
  width: 350px;
  height: 350px;
  background-color: #172223;
  color: #9fedd7;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  transition: 0.5s;
}

.card img {
  width: 350px;
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 1;
}

.card:hover img {
  width: 370px;
  transition: 0.5s;
}

.card:hover .cover {
  width: 370px;
  height: 370px;
  visibility: visible;
  opacity: 0.9;
  transition: 0.5s;
  z-index: 2;
}

button {
  margin-top: 180px;
  background-color: transparent;
  border: none;
}
button a {
  text-decoration: none;
  border: 2px solid #9fedd7;
  color: #9fedd7;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.5em;
}

button a::after {
  font-family: "FontAwesome";
  font-weight: 800;
  content: "\f105";
  margin-left: 10px;
}

button:hover a {
  background-color: #9fedd7;
  color: #026670;
}

.contact {
  padding-bottom: 20px;
  padding-top: 100px;
  position: relative;
}

form {
  text-align: center;
}
form h2 {
  font-size: 2.5em;
}

.input {
  margin-top: 15px;
}

.email,
.message {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.email label,
.message label {
  text-align: left;
  display: inline-block;
  font-size: 1.3em;
  margin: 5px 0;
}
.email input,
.email textarea,
.message input,
.message textarea {
  font-size: 1.1rem;
  padding: 10px;
  border: 2px solid #9fedd7;
  background-color: #fef9c7;
}

.message label {
  margin-top: 15px;
}

.submit {
  border: none;
  width: 20%;
  margin: 10px auto;
}
.submit input {
  background-color: #026670;
  border: 2px solid #9fedd7;
  color: #9fedd7;
  border-radius: 25px;
  padding: 7px 20px;
  font-size: 1.5em;
}

.submit:hover input {
  background-color: #9fedd7;
  color: #026670;
}

.gradient-bt {
  width: 100%;
  height: 250px;
  background-image: url(images/wave.png);
  background-size: 100% 180px;
  background-position: center top;
  background-repeat: no-repeat;
}

.content-footer {
  text-align: center;
  background-color: #026670;
  padding: 10px 0;
}
.content-footer ul {
  display: flex;
  justify-content: center;
}
.content-footer i {
  font-size: 30px;
}
.content-footer p {
  color: #edeae5;
}

@media (max-width: 1150px) {
  .descript {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  h1 {
    font-size: 1.7em;
  }

  .navbar h2 {
    visibility: hidden;
  }
}
@media (max-width: 950px) {
  .navbar {
    height: 60px;
  }

  .cont-description {
    flex-direction: column;
  }
  .cont-description .descript {
    width: 100%;
  }
  .cont-description .img-descript {
    width: 60%;
    height: 20%;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.4em;
  }

  li a {
    font-size: 1em;
  }

  .cont-skills:hover h3,
.cont-bt:hover h3 {
    opacity: 0;
  }

  .cont-skills:hover .html,
.cont-skills:hover .query,
.cont-skills:hover .bootstrap,
.cont-skills:hover .css,
.cont-skills:hover .js {
    transform: translateY(0);
  }

  .cont-bt:hover .node,
.cont-bt:hover .git,
.cont-bt:hover .react {
    transform: translateY(0);
  }

  .icon img {
    width: 70px;
    height: 70px;
  }

  .cover {
    width: 250px;
    height: 250px;
  }

  .card img {
    width: 250px;
  }

  .card:hover img {
    width: 250px;
  }

  .card:hover .cover {
    width: 250px;
    height: 250px;
  }

  .submit input {
    font-size: 1em;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 1.1em;
  }

  .navbar .nav-logo {
    display: none;
  }
  .navbar .nav-menu {
    width: 100%;
    padding-right: 0;
  }
  .navbar .nav-menu ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  li a {
    font-size: 0.9em;
  }

  .icon img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 450px) {
  .nav-menu li {
    margin: 15px 2px;
  }
}

/*# sourceMappingURL=main.css.map */
